.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        %p koji
      .side-bar__user-name__top-items__icon
        = link_to "#" do
          .group
            %i.far.fa-edit
            %i.fas.fa-cog

  .side-bar__group-list
    .side-bar__group-list__title-box
      %h3 techcamp
      %p まだメッセージがありません
    .side-bar__group-list__title-box
      %h3 techcamp
      %p まだメッセージがありません
    .side-bar__group-list__title-box
      %h3 techcamp
      %p まだメッセージがありません
  


